"*":
  "exception-reporting":
    userId: "d60c6b19-15a1-6ea5-aed9-95ae14ded492"
  welcome:
    showOnStartup: false
  core: {}
  editor:
    invisibles: {}
    fontFamily: "Hack"
    showInvisibles: true
    fontSize: 20
    showIndentGuide: true
  "vim-mode": {}
  linter: {}
  "linter-eslint":
    useGlobalEslint: true
    globalNodePath: "/Users/tamorim/.node/local"
  "language-babel": {}
  "save-session":
    dataSaveFolder: "/Users/tamorim/.atom/packages/save-session/projects"
  "ide-haskell": {}
  "autocomplete-plus":
    useCoreMovementCommands: false
    confirmCompletion: "enter"
