packages: [
  "advanced-open-file"
  "atom-ternjs"
  "autoclose-html"
  "cursor-history"
  "emmet"
  "ex-mode"
  "file-icons"
  "highlight-line"
  "highlight-selected"
  "language-babel"
  "language-haskell"
  "linter"
  "linter-eslint"
  "open-this"
  "package-sync"
  "paner"
  "pretty-json"
  "project-manager"
  "save-session"
  "vim-mode"
  "vim-surround"
]
